<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>

    <add key="VOSCONNECTIONSTRING" value="server=coanj1vossql01;database=vos;uid=vos_user;password=vos;"/>
    <add key="CMSCONNECTIONSTRING" value="server=coanj1sql03;database=CMS;uid=merlin_user;password=coamerlin;"/>

    <!-- 	
    <add key="VOSCONNECTIONSTRING" value="server=coapasql01;database=vos;uid=vos_user;password=vos;"/>
    <add key="CMSCONNECTIONSTRING" value="server=coapasql01;database=CMS_QA;uid=merlin_user;password=coamerlin;"/>
-->

    <add key="logFilePath" value="D:\websites\applications\MobileWS\"/>

    <!-- Apple Device Keys-->
    <add key="IsSendToApple" value="1" />
    <add key="IPhoneAppURL" value="https://itunes.apple.com/ml/app/itelecenter/id426417970" />
    <!-- This is name of your .p12 file, the .p12 file should be located in your bin debug or bin release folder beside your application assembly -->
    <add key="ssl_p12_file" value="ITCDEV.p12" />
    <!-- IF you have a password for your Certificate, please add it here -->
    <add key="ssl_p12_password" value="" />
    <!-- set this to True if you are testing in sandbox mode using developer certificate, if you are using production certificates set it to False -->
    <add key="use_sandbox" value="True" />
    <!-- Interval between sending each notification in milliseconds -->
    <add key="sleep_between_notifications" value="1000" />
    <!-- Number of retries for sending one notification-->
    <add key="send_retries" value="5" />
    <!-- Delay between each retry in milliseconds -->
    <add key="reconnect_delay" value="5000" />

    <!-- End of Apple Device Keys-->
  </appSettings>
</configuration>